<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :retweet_count %><br>
    <%= @tweet.retweet_count %>
  </div>
  <div class="input-group">
    <%= f.label :favorite_count %><br>
    <%= @tweet.favorite_count%>
  </div>
  <div class="input-group">
    <%= f.label :text %><br>
    <%= @tweet.text%>
  </div>
  <div class="input-group">
    <%= f.label :created_at %><br>
    <%= @tweet.created_at%>
  </div>
  <div class="input-group">
    <%= f.label :status %><br>
    <%= f.select :status, [1, 0], :class => 'form-control'%>
  </div>
  <div class="actions btn-group">
    <%= f.submit 'submit', :class => 'btn btn-danger'%>
  </div>
<% end %>
