<p id="notice"><%= notice %></p>

<p>
  <strong>Retweets:</strong>
  <%= @tweet.retweets %>
</p>

<p>
  <strong>Favorited:</strong>
  <%= @tweet.favorited %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Post date:</strong>
  <%= @tweet.post_date %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
