<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => I18n.t('models.user').pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= I18n.t('user.screen_name')%></th>
      <th><%= I18n.t('user.number_followers') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.screen_name %></td>
        <td><%= user.number_followers %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
