<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    	<%= link_to tweets_path do %>
	      	<div class="navbar-brand">
	        	<%= image_tag "logo.png", :style => "max-width:100px; margin-top: -7px;"%>
	    	</div>
	    <%end%>
    </div>
   	<%= link_to users_path do %>
   		<p class="navbar-text"><%= I18n.t('models.user').pluralize%></p>
 	  <%end%>
 	  <%= link_to tweets_path do %>
   		<p class="navbar-text"><%= I18n.t('models.tweet').pluralize%></p>
 	  <%end%>

    <%= link_to parse_tweets_path do %>
      <p class="navbar-text"><%= I18n.t('update')%></p>
    <%end%>
      <ul class="nav navbar-nav navbar-right">
        <div class='navbar-text'>
        <%= link_to root_path(:locale => 'pt') do
           image_tag "br.jpg", :style => "max-width:25px; margin-top: -7px;"
        end %>
        <%= link_to root_path(:locale => 'en') do
           image_tag "uk.png", :style => "max-width:25px; margin-top: -7px;"
        end %>
        </div> 
      </ul>

  </div>
</nav>